# Copier ce fichier en .env et remplir les valeurs
# cp .env.example .env

# Chemins dataset
DATA_RAW_DIR=data/raw
DATA_INTERIM_DIR=data/interim

# Chemins modèles
MODELS_DIR=models

# MLflow
MLFLOW_TRACKING_URI=sqlite:///src/jupyter/mlflow.db

# Streamlit
STREAMLIT_MODEL_DIR=models/densenet121_crossval_v1

# DagsHub — modèle DenseNet + images de test
# Token : dagshub.com > Settings > Tokens > Default Access Token (bouton Copy)
DAGSHUB_USER=Dumegan
DAGSHUB_TOKEN=your_dagshub_token_here
DAGSHUB_REPO=Bloodcells-project

# Supabase (PostgreSQL) — récupérer les credentials auprès de l'équipe
SUPABASE_HOST=db.ckwlujqjmlvnnbsijxjw.supabase.co
SUPABASE_PORT=5432
SUPABASE_DB=postgres
SUPABASE_USER=postgres
SUPABASE_PASSWORD=your_supabase_password_here
